body{
    margin: auto;
    background-color: lightgrey;
    display: grid;
    grid-template-areas: 
    "header timeline"
    "external external";
}

#header{
    grid-area: header;
}

#header, #img-div{
    text-align: center;
    margin: 20px;
}

#img-div{
    max-width: 650px;
    height: auto;
    margin: auto;
    padding: 15px;
    background-color: white;
    border-radius: 5%;
}

#image{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 5%;
}

#timeline{
    max-width: 700px;
    margin: auto;
    grid-area: timeline;
}

#timeline-title{
    text-align: center;
}

#timeline-list{
    max-width: 500px;
    margin: auto;
}

#quote{
    width: 300px;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    font-style: italic;
}

#external-link{
    text-align: center;
    font-size: large;
    font-style: bold;
    grid-area: external;
}

@media (max-width: 1000px){
    body{
        grid-template-areas: 
        "header"
        "timeline"
        "external";
    }
}